.page-account {
  .page-main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    p {
      @include pxRem(font-size, 20px);
      font-weight: bold;
      color: red;
    }
    button {
      @include pxRem(width, 250px);
      @include pxRem(margin, 50px auto 0px);
      @include pxRem(padding, 15px 0);
      @include pxRem(font-size, 20px);
      border-radius: 6px;
      cursor: pointer;
    }
  }
}
