.page-products {
  .product-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    .product-item {
      @include pxRem(border-radius, 12px);
      @include pxRem(margin-bottom, 30px);

      position: relative;
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

      .options-layout {
        @include pxRem(padding, 10px 15px);
        position: absolute;
        top: 2rem;
        right: 2rem;

        background-color: rgba(128, 128, 128, 0.15);
        border-radius: 6px;

        li i {
          @include pxRem(font-size, 20px);
          cursor: pointer;
        }

        .red {
          color: red;
        }
      }

      &-image {
        @include pxRem(border-radius, 12px 12px 0 0);
        @include pxRem(width, 250px);
        @include pxRem(height, 250px);
        margin-top: 2rem;
      }

      &-content {
        @include pxRem(margin, 20 0);
        @include pxRem(padding, 0 20);

        .text-wrapper {
          display: flex;
          justify-content: space-between;

          .product-name, .product-price {
            @include pxRem(font-size, 20);
          }
  
          .product-name {
            @include pxRem(width, 220px);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: map-get( $colors, primary);

            cursor: pointer;

            &:hover {
              text-decoration: underline ;
            }
          }
  
          .product-price {
            color: map-get( $colors, secondary);
            font-weight: map-get($font-weight, bold);
            float: right;
          }
        }

        .product-des {
          @include pxRem(margin-top, 20);
          color: map-get($colors, txt-gray-dark);
          font-size: $font-size-md;

          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }

      &-btn {
        width: 100%;
        cursor: pointer;
        border: none;

        @include pxRem(border-radius, 0 0 12px 12px);
        @include pxRem(padding, 15px);
        @include pxRem(font-size, 17px);
        font-weight: map-get($font-weight, bold);
        background-color: map-get($colors, black);
        color: map-get($colors, white);

        &:hover, &:focus {
          background-color: map-get($colors, bg-gray);
          color: map-get($map: $colors, $key: black);
        }
      }
    }
  }
}
